*~
*Makefile
*Makefile.in
*.o
*.omf
aclocal.m4
autom4te.cache*
config.h*
config.log
config.status
configure
confsupp/config.guess
confsupp/config.sub
confsupp/depcomp
confsupp/install-sh
confsupp/missing
po/POTFILES
src/Harmonic
stamp-h1
