[Desktop Entry]
Name=Harmonic
Name[az]=Harmonik
Name[be]=гармонікі
Name[bg]=Хамонични
Name[ca]=Harmònic
Name[cs]=Harmonické
Name[de]=Harmonische
Name[el]=Αρμονική
Name[es]=Armónica
Name[eu]=Harmonikoa
Name[fr]=Harmonique
Name[hu]=Harmonikus
Name[hy]=Ներդաշնակ
Name[it]=Armonico
Name[ka]=ჰერმონიული
Name[nl]=Harmonische
Name[pt]=Harmônica
Name[ro]=Armonice
Name[ru]=Гармоника
Name[sq]=Harmonik
Name[th]=สอดคล้องกัน
Name[tr]=Harmonik
Name[uk]=Гармоніки
Name[zh_CN]=谐波
Comment=A program for performing harmonic analysis (e.g. Fourier Analysis).
Comment[az]=Harmonik analiz (Furyə təhlili kimi) yerinə üçün proqram.
Comment[be]=Праграма для выканання гарманічнага аналізу (напрыклад, аналіз Фур'е).
Comment[bg]=Програма за извършване на хармоничен анализ (напр. анализ на Фурие).
Comment[ca]=Un programa per realitzar l'anàlisi harmònic (per exemple, anàlisi de Fourier).
Comment[cs]=Program pro provádění harmonické analýzy (např. Fourierova analýza).
Comment[de]=Ein Programm zur Durchfühung der harmonischen Analyse (zB Fourier-Analyse).
Comment[el]=Αρμονική είναι ένα πρόγραμμα για την εκτέλεση αρμονική ανάλυση (π.χ. ανάλυση Φουριερ).
Comment[es]=Un programa para realizar el análisis armónico (por ejemplo, análysis de Fourier).
Comment[eu]=Harmoniko analisia (Fourier-en analisia, adibidez) egiteko programa bat.
Comment[fr]=Harmonique est un programme pour effectuer l'analyse harmonique (par exemple l'analyse de Fourier).
Comment[hu]=A program végrehajtása harmonikus analízis (pl. Fourier analízis).
Comment[hy]=Ծրագիր իրականացնելու ներդաշնակ վերլուծության (օրինակ `Fourier վերլուծություն)․
Comment[it]=Un programma per effettuare l'analisi armonica (per esempio Fourier).
Comment[ka]=პროგრამის შესასრულებლად ჰერმონიული ანალიზი (მაგ. Fourier ანალიზი).
Comment[nl]=Een programma voor het uitvoeren van de harmonische analyse (bijv. Fourier-analyse).
Comment[pt]=Um programa para a realização de análise harmônica (análise de Fourier, por exemplo).
Comment[ro]=Un program pentru efectuarea unor analize armonice (de exemplu, Analiza Fourier).
Comment[ru]=программа для выполнения гармонического анализа (например, анализ Фурье).
Comment[sq]=Një program për krzerjen e analiyave harmonik (p.sh. Furierit Analiya).
Comment[th]=โปรแกรมสำหรับการวิเคราะห์สอดคล้องกันประสิทธิภาพ(เช่นการวิเคราะห์ฟูเรียร์)
Comment[tr]=Harmonic analiz (Fourier analizi gibi) gereçekleştirmek için bir program.
Comment[uk]=програма для виконання гармонічного аналізу (наприклад, аналіз Фур'є).
Comment[zh_CN]=谐波是一个程序执行谐波分析（如傅立叶分析）。
Exec=Harmonic
Icon=db8
Terminal=0
Type=Application
Categories=Education;Science;Math;NumericalAnalysis;
